.head {
  margin-top: 135px;
  background-color: #F6F6F6;
  width: 100%;
}

.head__body {
  padding: 130px;
}

.head__title {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: bolder;
}

.head__text {
  text-align: center;
  font-size: 25px;
  color: gray;
}

.head__text p {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.content {
  width: 100%;
}

.content__body {
}
.content__row {
  display: flex;
  flex-direction: row;
}
.content__image {
  width: 25%;
}

.content__image img {
  width: 100%;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .head {
    margin-top: 80px;
  }
  .head__body {
    padding: 15px;
  }
  .head__text {
    font-size: 25px;
  }
  .content__row {
    flex-wrap: wrap;
  }
  .content__row:last-child {
    display: none;
  }
  .content__image {
    width: 100%;
  }
}
